

.switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 24px; 
  height: 24px; 
  margin: 0 8px;
  vertical-align: middle;
}

.theme-switch-icon.active {
  display: block;
}

